@model GoodTimes.Models.menukaart

<h1>Menukaart: @Html.DisplayFor(model => model.Naam)</h1>

<div class="menu-container">
    <div class="kaas">
        <a class="menu-button" asp-area="" asp-controller="products" asp-action="create">Product toevoegen</a>
        <a class="menu-button" asp-area="" asp-controller="categories" asp-action="create">Categorie toevoegen</a>
    </div>
</div>

@foreach (var categorie in Model.categories)
{
    <div class="category-row">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        Categorie
                    </th>
                    <th>
                        Naam
                    </th>
                    <th>
                        Omschrijving
                    </th>
                    <th>
                        Prijs
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var product in ViewBag.products)
            {
                <tbody>
                    <tr>
                        <td>
                            @product.categorie.Naam
                        </td>
                        <td>
                            @product.Naam
                        </td>
                        <td>
                            @product.Omschrijving
                        </td>
                        <td>
                            € @product.Prijs
                        </td>
                        <td>
                            <a asp-controller="products" asp-action="Edit" asp-route-id="@product.Id">Bewerk</a><br />
                            <a asp-controller="products" asp-action="Delete" asp-route-id="@product.Id">Verwijder</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
