@model GoodTimes.Models.menukaart

<h1>@Html.DisplayFor(model => model.Naam)</h1>

@foreach (var categorie in Model.categories)
{
    <div class="category-row">
        <div class="product-item">
            <p class="categories-text-title">@categorie.Naam</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                    <th>
                        Omschrijving
                    </th>
                    <th>
                        Prijs
                    </th>
                    <th>
                        Volgorde
                    </th>
                    <th>
                        Categorie
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var product in categorie.products)
            {
                <tbody>
                    {
                    <tr>
                        <td>
                            @product.Naam
                        </td>
                        <td>
                            @product.Omschrijving
                        </td>
                        <td>
                            @product.Prijs
                        </td>
                        <td>
                            @product.Volgorde
                        </td>
                        <td>
                            @product.categorie
                        </td>
                    </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
