@model IEnumerable<GoodTimes.Models.bestelling>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuwe bestelling aanmaken</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gerecht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tafel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opmerking)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gerecht)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aantal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tafel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tijd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opmerking)
                </td>
                <td>
                    <a class="remove_button" asp-action="Delete" asp-route-id="@item.Id">Gereed melden</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
